{% extends 'main/base.html' %}


{% block content %}
    <section class="pb-10 text-center">
        <div class="container">
            <div class="container d-flex flex-row mt-4 justify-content-center justify-content-center justify-content-center justify-content-center justify-content-center justify-content-lg-center">
                <div class="col-lg-7 col-sm-11 col-xl-7 col-xxl-7 d-lg-block d-md-none d-none d-sm-none d-xl-block d-xxl-block m-2 pb-3 pt-3 text-start">
                    <div class="border container mb-4 p-0">
                        <div class="align-items-center align-items-lg-center align-items-md-center align-items-sm-center align-items-xl-center align-items-xxl-center container d-flex d-lg-flex d-md-flex d-sm-flex d-xl-flex d-xxl-flex">
                            <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                            <h3 class="fw-normal h6 text-dark">Модель 1&nbsp;</h3>
                        </div>
                        <div class="p-0">
                            <img src="https://pinegrow.com/placeholders/img11.jpg" width="100%"/>
                        </div>
                        <div>
                            <div class="container d-flex d-lg-flex d-md-flex d-sm-flex d-xl-flex d-xxl-flex justify-content-between justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-xl-between justify-content-xxl-between mt-2">
                                <div class="container">
                                    <img src="https://images.unsplash.com/photo-1516967124798-10656f7dca28?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDR8fGxvdmV8ZW58MHx8fHwxNjUwMzQ4Mzg5&ixlib=rb-1.2.1&q=80&w=1080" height="30" width="30" class="m-2"/>
                                    <span>1228</span>
                                </div>
                                <img src="https://images.unsplash.com/photo-1516967124798-10656f7dca28?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDR8fGxvdmV8ZW58MHx8fHwxNjUwMzQ4Mzg5&ixlib=rb-1.2.1&q=80&w=1080" height="30" width="30" class="m-2"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-8 col-lg-4 col-md-8 col-sm-8 col-xl-3 col-xxl-3 text-center">
                    <div>
                        <form class="form-control" method="post">
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            {% for f in form %}
                                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}
                            <button class="border btn btn-lg btn-primary fs-7 mt-4" type="submit">Войти</button>

                        </form>
                    <a class="border d-block btn btn-lg btn-primary fs-7 m-3 w-75" href="{% url 'authentication_register' %}">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
