{% extends 'main/base.html' %}

{% block content %}
    <main class="align-items-center d-flex justify-content-evenly text-center pt-5">
        <div class="col-12 col-lg-5 col-md-7 col-sm-8 col-xl-4 col-xxl-4">
            <form method="post" class="p-4">
                {% csrf_token %}
                  <div class="form-error">{{ form.non_field_errors }}</div> {# отображает ошибки #}
                   {% for f in form %}
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                <button class="btn btn-lg btn-primary fs-6" type="submit">Войти</button>
            </form>
        </div>
    </main>
    
{% endblock %}
