{% extends 'main/base.html' %}

{% block content %}
<p>Страница при посещении не зарегистрированным пользователем</p>
    <main class="align-items-center d-flex justify-content-evenly text-center pt-5">
        <div class="col-12 col-lg-5 col-md-7 col-sm-8 col-xl-4 col-xxl-4">
            <a class="btn btn-lg btn-primary fs-6" href="{% url 'authentication_register' %}">Регистрация</a>
            <a class="btn btn-lg btn-primary fs-6" href="{% url 'authentication_login' %}">Войти</a>
        </div>
    </main>
{#    {% block mainmenu %}#}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			    <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
                {#    {% for m in menu %}#}
                    {#    Было до регистрации#}
                    {#	{% if not forloop.last %}#}
                {#                <li><a href="{% url m.url_name %}">{{m.title}}</a></li>#}
                    {#	{% else %}#}
                    {#			<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>#}
                    {#	{% endif %}#}
                {#    {% endfor %}#}

            </ul>
            <div class="clear"></div>
        </div>
{#    {% endblock mainmenu %}#}
{% endblock %}
