{% extends 'main/base.html' %}

{% block content %}

    <section class="pb-5 text-center">
        <div class="container pb-5">
            <div class="border-3 border-5 border-bottom border-bottom-2 container d-flex">
                <div class="align-items-center d-flex flex-column m-2">
                    <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/> <a class="btn btn-primary fs-7" href="#">Организация 1</a>
                </div>
            </div>
            <div class="container d-flex flex-row mt-4">
                <div class="border-2 border-top col-12 col-lg-4 col-sm-12 col-xl-3 me-2 pb-3 text-start">
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" width="70" height="70" class="mt-2 rounded-circle"/>
                        <div class="border-1 border-bottom container pb-2 pt-2">
                            <h3 class="fw-normal h6 text-dark">Модель 1&nbsp;</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" width="70" height="70" class="mt-2 rounded-circle"/>
                        <div class="border-1 border-bottom container pb-2 pt-2">
                            <h3 class="fw-normal h6 text-dark">Модель 1&nbsp;</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" width="70" height="70" class="mt-2 rounded-circle"/>
                        <div class="border-1 border-bottom container pb-2 pt-2">
                            <h3 class="fw-normal h6 text-dark">Модель 1&nbsp;</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" width="70" height="70" class="mt-2 rounded-circle"/>
                        <div class="border-1 border-bottom container pb-2 pt-2">
                            <h3 class="fw-normal h6 text-dark">Модель 1&nbsp;</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                </div>
                <div class="border col-lg-8 col-sm-7 col-xl-9 d-lg-inline-block d-md-none d-none d-sm-none d-xl-inline-block d-xxl-inline-block ms-2 pb-3 pt-3 text-start">
                    <div class="border-bottom container d-flex flex-row mb-2">
                        <div class="align-items-center container d-flex text-start">
                            <h3 class="fw-normal h6 text-dark">Модель 3&nbsp;</h3>
                            <p></p>
                        </div>
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="70" height="70"/>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                        <div class="container">
                            <h3 class="fw-normal h6 text-dark">Модель 3</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                        <div class="container">
                            <h3 class="fw-normal h6 text-dark">Модель 3</h3>
                            <p>Последнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее
                            сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее
                            сообщениеПоследнее сообщениеПоследнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                        <div class="container">
                            <h3 class="fw-normal h6 text-dark">Мастер</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                        <div class="container">
                            <h3 class="fw-normal h6 text-dark">Модель 3</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                        <div class="container">
                            <h3 class="fw-normal h6 text-dark">Модель 3</h3>
                            <p>Последнее сообщение</p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                        <div class="container">
                            <div class="d-xxl-flex h-100 input-group w-75">
                                <input type="text" class="form-control m-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"/>
                                <button class="btn btn-primary m-2">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
