{% extends 'main/base.html' %}

{% block content %}

    <section class="pb-5 text-center">
        <div class="container pt-5">
            <div class="container d-flex">
                <img src="https://pinegrow.com/placeholders/img14.jpg" width="100" height="100" class="rounded-circle"/>
                <h5 class="d-flex">Организация</h5>
            </div>
            <div class="container text-lg-start text-md-start text-sm-start text-start text-xl-start text-xxl-start">
                <h6 class="d-flex">Описание профиля</h6><a class="btn btn-primary" href="#">Редактировать профиль</a>
            </div>
        </div>
        <div class="container pb-5 pt-3 text-lg-start">
            <div class="container d-flex d-lg-flex d-md-flex d-sm-flex d-xl-flex d-xxl-flex flex-lg-row flex-lg-wrap flex-md-row flex-md-wrap flex-row flex-sm-row flex-sm-wrap flex-wrap flex-xl-row flex-xl-wrap flex-xxl-row flex-xxl-wrap">
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
                <img src="https://pinegrow.com/placeholders/img16.jpg" width="200" class="m-1" height="200"/>
            </div>
        </div>
        <div class="border col-lg-11 col-sm-7 col-xl-9 d-lg-inline-block d-md-none d-none d-sm-none d-xl-inline-block d-xxl-inline-block m-2 p-3 text-start">
            <h4>Отзывы (4.3 рейтинг)</h4>
            <div class="container d-flex flex-row">
                <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                <div class="container">
                    <h3 class="fw-normal h6 text-dark">Модель 3 (4 звезды)</h3>
                    <p>Последнее сообщение</p>
                </div>
            </div>
            <div class="container d-flex flex-row">
                <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                <div class="container">
                    <h3 class="fw-normal h6 text-dark">Модель 3 (5 звезд)</h3>
                    <p>Последнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее
                    сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее сообщениеПоследнее
                    сообщениеПоследнее сообщение</p>
                </div>
            </div>
            <div class="container d-flex flex-row">
                <img src="https://pinegrow.com/placeholders/img16.jpg" class="m-2 rounded-circle" width="40" height="40"/>
                <div class="container">
                    <h3 class="fw-normal h6 text-dark">Мастер (4 звзеды)</h3>
                    <p>Последнее сообщение</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


