{% extends 'main/base.html' %}

{% block content %}

    <section class="pb-5 text-center">
        <div class="container">
            {{ account.username }}
            <div class="container d-flex">
                <img src="https://pinegrow.com/placeholders/img14.jpg" width="100" height="100" class="rounded-circle"/>
                <h5 class="d-flex">{{ account.last_name }} {{ account.first_name }}</h5>
            </div>
{#            <div class="container">#}
{#                <a href="{% url 'account:image_edit' account.username %}"><h6 class="d-flex">Редактировать изображение</h6></a>#}
{#            </div>#}
            <div class="container">
{#                 <a href="{{ account.get_absolute_url1  }}"><h6 class="d-flex">Редактировать профиль</h6></a>#}
                 <a href="{% url 'account:edit' account.username %}"><h6 class="d-flex">Редактировать профиль</h6></a>
            </div>
            <div class="container">
                <h6 class="d-flex">Описание профиля</h6>
            </div>
            <div class="container d-flex flex-row">
                <button type="button" class="btn btn-primary m-2">Подписчики</button>
                <button type="button" class="btn btn-primary m-2">Подписки</button>
            </div>
        </div>

    </section>

{% endblock %}
