<svg viewbox="0 0 100 100" preserveaspectratio="none" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" width="100%" class="d-block text-dark">
            <path d="M 100 100 V 0 L 0 100"/>
        </svg>
<footer class="bg-dark pt-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 py-3"> <a href="#" class="d-inline-block fw-bold h2 link-light mb-4 text-decoration-none" target>YouDeo</a>
                <p class="mb-3">Объединение мастеров готовых предоставлять</p>
                <div class="mb-4"> <a href="#" class="link-light text-decoration-none">hello@company.com</a>
                </div>
            </div>
        </div>
        <div class="pb-3 pt-3 small">
            <hr class="border-secondary mt-0"/>
            <div class="align-items-center row">
                <div class="col-md pb-2 pt-2">
                    <p class="mb-0">&copy; 2002 - 2021 | All Rights Reserved - Company Name</p>
                </div>
                <div class="col-md-auto pb-2 pt-2">
                    <a href="#" class="link-light text-decoration-none">Privacy
                    Policy</a> | <a href="#" class="link-light text-decoration-none">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</footer>