<header>
    <nav class="bg-white m-2 m-4 navbar navbar-expand-lg navbar-light py-lg-1">
        <div class="container"> <a class="fw-bold navbar-brand text-primary" href="./index.html" target="">YouDeo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="border-style: none;"></span>
            </button>
            <div class="collapse d-xxl-flex justify-content-end navbar-collapse" id="navbarNavDropdown-3">
                <a class="btn btn-primary m-2 ms-lg-3" href="./lenta.html">Лента</a>
                <a class="btn btn-primary m-2 ms-lg-3" href="./index.html">Поиск мастера</a>
                <a class="btn btn-primary m-2 ms-lg-3" href="./messege.html">Сообщения</a>
                <a class="btn btn-primary m-2 ms-lg-3" href="./account.html">Профиль</a>
            </div>
        </div>
    </nav>
</header>